* {
    font-family: 'Roboto', sans-serif;
}
h1, h2 {
    margin-bottom: 0;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/headers';
@import 'blocks/dividers';
@import 'blocks/waiting';
@import 'blocks/optimization';
@import 'blocks/skills';
@import 'blocks/gift';
@import 'blocks/poster';