.button {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}