.header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    &_skills {
        color: #efefef;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
}