.poster {
    min-height: 515px;
    padding: 89px 0 64px 0;
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__title {
        margin-top: 37px;
        color: #252525;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
    &__date {
        margin-top: 30px;
        color: #299cbd;
        font-size: 36px;
        font-weight: 900;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
    }
    &__HaveTime {
        margin-top: 25px;
        color: #4a4a4a;
        font-size: 23px;
        font-weight: 400;
        text-align: center;
    }
}