.skills {
    min-height: 447px;
    background: url('../img/second_bg.jpg') center (center/cover) no-repeat;
    padding: 86px 0 80px 0;
    &-wrapper {
        margin-top: 41px;
        display: flex;
        justify-content: space-around;
        &-item {
            width: 204px;
            &-round {
                width: 115px;
                height: 115px;
                background-color: #b4e2ff;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                &__img {
                    display: block;
                }
            }
            &__descr {
                margin-top: 25px;
                color: #efefef;
                font-size: 17px;
                font-weight: 300;
                line-height: 20px;
                text-align: center;
            }
        }
    }
}